# 환경변수

# GCP 설정
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET=your-bq-dataset
GCS_BUCKET=your-gcs-bucket

# Airflow DAG 시뮬레이션 기준 시각 (KST 기준, ISO8601 형식: YYYY-MM-DDTHH:MM:SS)
# docker-compose down -v 직전에 실행 예정 KST 시각으로 업데이트할 것
# 이 시각 기준 첫 인터벌 = GA4 2021-01-17, 10분마다 1일씩 증가
AIRFLOW_DEPLOY_DATETIME=YYYY-MM-DDTHH:MM:SS