# 데이터 처리 및 분석
pandas
numpy
pyarrow
google-cloud-bigquery
db-dtypes

# MLOps 및 스토리지 연동
mlflow==2.14.3
psycopg2-binary
boto3
s3fs

#ML
scikit-learn
xgboost
lightgbm
catboost
joblib

# 분산 처리
pyspark==3.5.1

apache-airflow==2.9.1
apache-airflow-providers-apache-spark
apache-airflow-providers-amazon

protobuf==4.25.3 # mlflow 실행 오류 문제 